---
layout: compress
title: Graphic Design &amp; Email Marketing Specialist in Franklin, WI
description:  Portfolio of Franklin, Wisconsin-based Cara Moretti; specializing in graphic design and email marketing.
sitemap:
    priority: 1.0
    lastmod: 2018-05-08
    changefreq: monthly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>Graphic Design &amp; Email Marketing Specialist</h2>
						<p>History of success leading design and delivery of creative solutions for a diverse client base.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://linkedin.com/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Leading-edge digital marketing campaigns.</a></h2>
                  <p>Excels at planning and coordinating successful, leading-edge digital marketing and email campaigns. Skilled leader, coach and collaborator, leading teams and working with creative staff to ensure top-notch content development and execution of projects according to specifications and within deadline.
									Unparalleled dedication to client satisfaction, working closely with clients from project initiation to delivery to ensure full satisfaction.</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                <p>Regardless of your website's function, the homepage is what brings the user in.
                  If it's anything short of intriguing, captivating, or just plain cool, you're out of luck and you might deter some visitors.</p>
                <p>Your homepage must clearly describe what your site is about.
									Having engaging content will in this manner enable you to offer and it will make your customers more inclined to purchase from you. Content is a way to position your organization in the correct place for your clients to discover you.
								</p>
								<p>
									In this manner, content in itself is a standout amongst the best promoting apparatuses in your whole advertising toolbox! Rather than making your content around your promoting technique, it's limitlessly more productive to fabricate your showcasing around your content.
								 </p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Details</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
                    <header>
    									<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    									<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="cara-moretti"><a class="LI-simple-link" href='https://www.linkedin.com/in/cara-moretti?trk=profile-badge'>Cara Moretti</a></div>
    								</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/experience/" | absolute_url }}" class="button">Professional Experience</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
