<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://linkedin.com/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Experience</a></h2>
              <p>Compilation of professional experience.
							</p>
            </header>
						<p>
							Unparalleled dedication to client satisfaction, working closely with clients from project initiation to delivery to ensure full satisfaction.
						</p>

          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Details</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<article>
								<header>
									<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
									<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="cara-moretti"><a class="LI-simple-link" href='https://www.linkedin.com/in/cara-moretti?trk=profile-badge'>Cara Moretti</a></div>
								</header>

							</article>
							{% endif %}
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
